<!-- card -->
<div class="p-4 w-72">
  <div
    class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden"
  >
    <img
      [routerLink]="['/products', product().id]"
      class="lg:h-48 md:h-36 w-full object-cover object-top cursor-pointer"
      [src]="product().image"
      alt="blog"
    />
    <div class="p-6">
      <h2
        data-testid="category"
        class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"
      >
        {{ product().category }}
      </h2>
      <h1
        data-testid="product-title-card"
        class="title-font text-lg font-medium text-gray-900 mb-3"
      >
        {{ product().title | slice : 0 : 30 }}
      </h1>

      <div class="flex justify-between items-center flex-wrap">
        <a
          [routerLink]="['/products', product().id]"
          class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0"
        >
          <span data-testid="learn-more" class="px-1"> Learn More </span>
          <fa-icon [icon]="faArrowRight"></fa-icon>
        </a>
        <button
          data-testid="bnt-add-to-cart"
          (click)="AddToCart()"
          class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
        >
          <fa-icon [icon]="faCartShopping"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- card -->
